.loading-parent {
  position: relative;
}

.loading-mask {
  height: 100%;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: hsla(0, 0%, 100%, 0.9);
}

.sk-flow {
  align-items: center;
}
